<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bem-vindo!</title>
  </head>
  <body>
    <h1>Recover CODE:</h1>
    <p>{{content}}</p>
  </body>
</html>